body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav{
    height: 100%;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size:large;
    padding: 5px 10px; 
    border-radius: 5px; 
}

nav ul li.active a {
    text-decoration: none;
    color: white;
    background-color: #ed1c94;
}

nav ul li:not(.active) a:hover {
    text-decoration: none;
    color: #333;
    background-color: #ffec17;
}



.container {
    display: flex;
    flex: 1;
    padding-top: 60px; /* height of the header */
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 200px;
    height: calc(100vh - 60px); /* height of the header */
    overflow-y: auto;
    position: fixed;
}

.sidebar.left {
    top: 60px; /* height of the header */
    left: 0;
}

.sidebar.right {
    top: 60px; /* height of the header */
    right: 0;
}

.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li.active a {
    background-color: #ed1c94;
    color: #fff;
    padding: 10px; 
    border-radius: 5px;
    text-decoration: none;
}

.sidebar ul li a {
    color: #000;
    padding: 10px; 
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.sidebar ul li:not(.active) a:hover {
    background-color: #ffec17; 
    color: #333; 
}


main {
    margin: 60px 220px 0 220px; /* Adjust margins for sidebars */
    padding: 20px;
    flex: 1;
    background-color: #fff;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.competitions {
    display: grid;
    gap: 20px;
}

.competition {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
}

.competition h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.games {
    display: grid;
    gap: 10px;
}

a.game {
    text-decoration: none;
    color: inherit;
    display: block;
}
.game {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.game:hover {
    background-color: #f4f4f4;
    transform: translateY(-2px);
}

.game .time {
    text-align: center;
    font-weight: bold;
}

.game .teams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game .home-team,
.game .away-team {
    margin: 2px 0;
}

.game .score {
    text-align: center;
    font-weight: bold;
}

.game-link {
    text-decoration: none;
    display: block;
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    color: #000;
    padding: 10px;
    text-decoration: none;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    pointer-events: none; /* Prevent clicking on the active page link */
}


/* Game page styles */
.game-nav{
    background-color: white;
    color: black;
    padding: 0;
    position: -webkit-sticky; /* For Safari */
    position: fixed;
    top: 80px; /* Adjust according to your header height */
    left: 240px;
    z-index: 1000;
    width: calc(100% - 480px);
    height: 60px;
}

.game-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.game-nav ul li {
    margin: 0 10px;
}

.game-nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: medium;
}

.game-nav ul li a.active {
    background-color: #ed1c94;
    color: white;
}

.game-nav ul li a:not(.active):hover {
    background-color: #ffec17;
}

.game-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineup {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center; /* Center align the content */
}

#lineup-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
}

#lineup-table thead {
    background-color: #333;
    color: white;
}

#lineup-table th, #lineup-table td {
    padding: 10px;
    text-align: center; /* Center align the text */
    border: 1px solid #ddd;
}

#lineup-table tr:nth-child(even) {
    background-color: #f4f4f4;
}

.lineup-container {
    display: flex;
    flex: 1;
    padding-top: 80px; /* height of the header */
}



.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three cards per row */
    gap: 20px;
    padding: 20px;
}

.stat-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.stat-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.stat-values {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.stat-values .home-value, .stat-values .away-value {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 5px 10px;
    width: 45%;
}

.stat-values .home-value {
    background-color: #007bff;
    color: white;
}

.stat-values .away-value {
    background-color: #dc3545;
    color: white;
}

